{% extends 'base.html' %}

{% block content %}
  <h2>Добро пожаловать на проект! <span class="icon-emo-happy"></span></h2>
  <p class="lead">
    Если у вас уже есть учетная запись, <a href="{% url 'login' %}">войдите</a> в систему.
    Если вы новичок на проекте, начните с создания <a href="{% url 'respondent_signup' %}">учетной записи респондента</a> или <a href="{% url 'moderator_signup' %}">учетной записи модератора</a>.
  </p>
  <hr>
  <h3>Как это работает</h3>
  <p>
    В этом приложении пользователи могут зарегистрироваться в качестве респондента или модератора.
    Модераторы могут создавать тесты, а респонденты могут отвечать на тесты на основе своих интересов.
  </p>
{% endblock %}
