<h2>Мои опросы</h2>
<p class="text-muted">
  Категории:{% for subject in user.respondent.category.all %} {{ subject.get_html_badge }}{% endfor %}
  <a href="{% url 'respondents:category_respondents' %}"><small>(обновить категории)</small></a>
</p>

<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link{% if active == 'new' %} active{% endif %}" href="{% url 'respondents:quiz_list' %}">Новые</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'taken' %} active{% endif %}" href="{% url 'respondents:taken_quiz_list' %}">Пройденные</a>
  </li>
</ul>
